<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774255751707-go4n59oaklh46005k77rq7dr0ufa2rkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774255751707-go4n59oaklh46005k77rq7dr0ufa2rkv</string>
	<key>API_KEY</key>
	<string>AIzaSyB7VwZIVoYdt-is9BDxOdbZDwcS_aTzBcw</string>
	<key>GCM_SENDER_ID</key>
	<string>774255751707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devtastic.qcu.qcu</string>
	<key>PROJECT_ID</key>
	<string>qcu-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>qcu-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774255751707:ios:b4a5ee4e2ee4202b7b3ebe</string>
</dict>
</plist>